
<div style="display: flex;justify-content: center;align-items: center !important;margin-top: 5%;text-align: left;width: 100%;">
    <div class="card-container" >
        <form [formGroup]="donationdetails" (ngSubmit)="SubmitForm()">   
        <h2 style="color: rgb(116, 115, 68);font-weight: 600;text-align: center;font-family: 'Julius Sans One', sans-serif;">DONOR DETAILS</h2>
        <br>
        <div class="field">
            <label for="location" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Location</label>
            <input type="text" pInputText formControlName="location" class="w-full" placeholder="Type your location" name="location"/>
            <small *ngIf="donationdetails.controls['location'].invalid && (donationdetails.controls['location'].dirty || donationdetails.controls['location'].touched)" class="block p-error">
                <div *ngIf="donationdetails.controls['location'].errors?.['required']">Name is required</div>
                <div *ngIf="donationdetails.controls['location'].errors?.['pattern']">Name is invalid</div>
            </small>
        </div><br>
        <div class="field">
            <label for="email" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" placeholder="Type your email" name="email"/>
            <small *ngIf="donationdetails.controls['email'].invalid && (donationdetails.controls['email'].dirty || donationdetails.controls['email'].touched)" class="block p-error">
                <div *ngIf="donationdetails.controls['email'].errors?.['required']">Name is required</div>
                <div *ngIf="donationdetails.controls['email'].errors?.['email']">Name is invalid</div>
            </small>
        </div><br>
        <div class="field">
            <label for="expirydate" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Expiry Date</label>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="expirydate" name="expirydate" class="w-full" />
           
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <small *ngIf="donationdetails.controls['expirydate'].invalid && (donationdetails.controls['expirydate'].dirty || donationdetails.controls['expirydate'].touched)" class="block p-error">
                <div *ngIf="donationdetails.controls['expirydate'].errors?.['required']">Name is required</div>
                <div *ngIf="donationdetails.controls['expirydate'].errors?.['pattern']">Name is invalid</div>
            </small>
        </div>
        <div class="field">
            <label for="fooditem" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Food Item(s)</label>
            <input type="text" pInputText formControlName="fooditem" class="w-full" placeholder="Type fooditem" name="fooditem"/>
            <small *ngIf="donationdetails.controls['fooditem'].invalid && (donationdetails.controls['fooditem'].dirty || donationdetails.controls['fooditem'].touched)" class="block p-error">
                <div *ngIf="donationdetails.controls['fooditem'].errors?.['required']">Name is required</div>
                <div *ngIf="donationdetails.controls['fooditem'].errors?.['pattern']">Name is invalid</div>
            </small>
        </div><br>
        <div class="field">
            <label for="quantity" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Quantity</label>
            <mat-slider min="0" max="1000" step="10" showTickMarks discrete >
            
                <input type="range" matSliderThumb formControlName="quantity" name="quantity" class="w-full"/>
            </mat-slider>
            <small *ngIf="donationdetails.controls['quantity'].invalid && (donationdetails.controls['quantity'].dirty || donationdetails.controls['quantity'].touched)" class="block p-error">
                <div *ngIf="donationdetails.controls['quantity'].errors?.['quantity']">Name is required</div>
                <div *ngIf="donationdetails.controls['quantity'].errors?.['quantity']">Name is invalid</div>
            </small>
        </div><br>
       <div class="field">
        <label for="role" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Role</label>
        <mat-radio-group aria-label="Select an option" formControlName="role">
            <mat-radio-button value="Restaurant" >Restaurant</mat-radio-button>
            <mat-radio-button value="Volunteer">Volunteer</mat-radio-button>
          </mat-radio-group>
       </div>
       
      
        <br>
        <div style="display: flex;justify-content: center;">
            <button style="border: none;border-radius: 5px; background-color: #A68C32;padding: 5px;color: white;font-weight: 600;width:100px;height: 44px;font-size: 15px;">SUBMIT</button>
        </div>
     
     
    </form> 
      
        
        
    </div>
    </div>

   
    <router-outlet></router-outlet>
