.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
   
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 20px;
    padding-top: 20px;
   
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    font-size:larger;
}
.navbar button{
    background-color: black;
    border: none;
    width: 70px;
    padding: 10px;
}
.navbar button :hover{
    background-color: #A68C32;
    padding: 10px;
    border-radius: 10px;
    width: 70px;
    
}
.login-button{
    border: none;
    width: 70px;
    height: fit-content;
    background-color: #A68C32 !important;
    padding: 10px;
    border-radius: 10px;
}
