<br><br>
<p style="text-align: center;font-size: larger;color: rgb(98, 46, 16);font-weight: 500;">Want to Share Food?</p>
<br><br>
<div class="donation-container" style="display: flex;flex-direction: row;justify-content: center;align-items: center;gap: 30px;">
    <div class="donation" style="display: flex;flex-direction: column;justify-content: center;width: min-content;">
           <a routerLink="/donatorform" routerLinkActive="active"ariaCurrentWhenActive="page">
                <div class="donate-container" style="background-color: rgb(193, 192, 135);border-radius: 50%;width: max-content;height: max-content;padding: 20px;">
                    <img src="../../../assets/images/heart (2).png"/>
                    
                </div>
            </a>
        <p style="text-align: center;color: rgb(173, 85, 23);font-weight: 600;">Donate</p>
        <p style="text-align: center;margin-top: -10px;color:rgba(210, 105, 30, 0.611);">Donate your food for needy</p>
    </div>
    <div class="donation" style="display: flex;flex-direction: column;justify-content: center;width: min-content;">
        <a routerLink="/ngo" routerLinkActive="active"ariaCurrentWhenActive="page">
            <div class="donate-container" style="background-color: rgb(193, 192, 135);border-radius: 50%;width: max-content;height: max-content;padding: 20px;">
                <img src="../../../assets/images/motorcycle.png"/>
                
            </div>
        </a>
        <p style="text-align: center;color: rgb(173, 85, 23);font-weight: 600;">NGO Agent</p>
        <p style="text-align: center; margin-top: -10px;color:rgba(210, 105, 30, 0.611);">Food Pickup and deliver</p>
    </div>
</div>
