
<div style="display: flex;justify-content: center;align-items: center !important;margin-top: 5%;text-align: left;width: 100%;">
    <div class="card-container" >
        <form [formGroup]="donationForm" (ngSubmit)="SubmitForm()">   
        <h2 style="color: rgb(116, 115, 68);font-weight: 600;text-align: center;font-family: 'Julius Sans One', sans-serif;">DONOR DETAILS</h2>
        <br>
        <div class="field">
            <label for="name" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Name</label>
            <input type="text" pInputText formControlName="name" class="w-full" placeholder="Type your name" name="name"/>
            <small *ngIf="donationForm.controls['name'].invalid && (donationForm.controls['name'].dirty || donationForm.controls['name'].touched)" class="block p-error">
                <div *ngIf="donationForm.controls['name'].errors?.['required']">Name is required</div>
                <div *ngIf="donationForm.controls['name'].errors?.['pattern']">Name is invalid</div>
        </small>
        </div><br>
        <div class="field">
            <label for="name" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Contact</label>
            <input type="text" pInputText formControlName="contact" class="w-full" placeholder="Type your recipient name" name="recipientname"/>
            <small *ngIf="donationForm.controls['contact'].invalid && (donationForm.controls['contact'].dirty || donationForm.controls['contact'].touched)" class="block p-error">
                <div *ngIf="donationForm.controls['contact'].errors?.['required']">Name is required</div>
                <div *ngIf="donationForm.controls['contact'].errors?.['pattern']">Name is invalid</div>
        </small>
        </div><br>
        <div class="field">
            <label for="name" style="color:  rgb(116, 115, 68);font-weight: 600;font-family: 'Quicksand', sans-serif;">Address</label>
            <input type="text" pInputText formControlName="address" class="w-full" placeholder="Type your address" name="address"/>
            <small *ngIf="donationForm.controls['address'].invalid && (donationForm.controls['address'].dirty || donationForm.controls['address'].touched)" class="block p-error">
                <div *ngIf="donationForm.controls['address'].errors?.['address']">Name is required</div>
                <div *ngIf="donationForm.controls['address'].errors?.['address']">Name is invalid</div>
        </small>
        </div><br>
       
        
      
        <br>
        <div style="display: flex;justify-content: center;">
            <button style="border: none;border-radius: 5px; background-color: #A68C32;padding: 5px;color: white;font-weight: 600;width:100px;height: 44px;font-size: 15px;">SUBMIT</button>
        </div>
        
        </form> 
        
    </div>
    </div>
   
    <router-outlet></router-outlet>
