<br><br>
<div class="image-container">
    <img src="../../../assets/images/pexels-flickr-149538 2.png" width="100%"/>
    <p>A TEAM IS ABOVE ALL A SPIRIT</p>
</div>
<br><br>
<h2 style="text-align: center;color: #A68C32;font-family: 'Port Lligat Sans', sans-serif;">OUR SERVICES</h2>
<br>
<div class="service-container" style="display: flex;flex-direction: row;justify-content: center;align-items: center;text-align: center;">
        <div class="service">
            <img src="../../../assets/images/cutlery 1.png" width="60px" height="60px"/>
            <h1>FOOD</h1>
            <p>Feed a soul, donate food</p>
            <a routerLink="/food" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button>Read More</button></a>
        </div>
        <div class="service">
            <img src="../../../assets/images/shirt.png" width="60px" height="60px"/>
            <h1>CLOTHES</h1>
            <p>Give warmth, share hope</p>
            <button>Read More</button>
        </div>
        <div class="service">
            <img src="../../../assets/images/box 1.png" width="60px" height="60px"/>
            <h1>PHILANTHROSHOPPING</h1>
            <p>Shop heart, empower change</p>
            <a routerLink="/shopping" routerLinkActive="active" ariaCurrentWhenActive="page">
            <button>Read More</button></a>
        </div>
</div>
<br><br>
<h2 style="text-align: center;color: #A68C32;font-family: 'Port Lligat Sans', sans-serif;">OUR STAFF</h2><br>
<div class="staff-container">
    <div class="staff">
        <img src="../../../assets/images/ITmen 1.png"/>
        <p>Tom Bruce</p>
        <div class="social">
            <img src="../../../assets/images/twitter 1.png"/>
            <img src="../../../assets/images/facebook-app-symbol 1.png"/>
            <img src="../../../assets/images/email 1.png"/>
        </div>
    </div>
    <div class="staff">
        <img src="../../../assets/images/itwomen 1.png"/>
        <p>Alexa</p>
        <div class="social">
            <img src="../../../assets/images/twitter 1.png"/>
            <img src="../../../assets/images/facebook-app-symbol 1.png"/>
            <img src="../../../assets/images/email 1.png"/>
        </div>
    </div>
    <div class="staff">
        <img src="../../../assets/images/itwoman 1.png"/>
        <p>Jazz Chan</p>
        <div class="social">
            <img src="../../../assets/images/twitter 1.png"/>
            <img src="../../../assets/images/facebook-app-symbol 1.png"/>
            <img src="../../../assets/images/email 1.png"/>
        </div>
    </div>
</div>
<br><br>
<app-footer></app-footer>
<router-outlet></router-outlet>

