
<div style="display: flex;justify-content: center;align-items: center !important;margin-top: 10%;text-align: left;">
    <div class="card-container" >
        <form [formGroup]="registerForm" (ngSubmit)="SubmitForm()">   
        <h2>Register</h2>
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText formControlName="name" class="w-full" placeholder="Type your name" name="name"/>
            <small *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)" class="block p-error">
                <div *ngIf="registerForm.controls['name'].errors?.['required']">Name is required</div>
                <div *ngIf="registerForm.controls['name'].errors?.['pattern']">Name is invalid</div>
        </small>
        </div><br>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" placeholder="Type your email" name="email"/>
            <small *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="block p-error">
                <div *ngIf="registerForm.controls['email'].errors?.['required']">Email is required</div>
                <div *ngIf="registerForm.controls['email'].errors?.['email']">Email is invalid</div>
        </small>
        </div><br>
        <br>
        <div class="field">
            <label for="password">Password</label>
            <input type="text" pInputText formControlName="password" class="w-full" placeholder="Type your password" name="email"/>
            <small *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="block p-error">
                <div *ngIf="registerForm.controls['password'].errors?.['required']">Password is required</div>
           
            </small>
        </div><br>
        <!-- <div class="field">
            <label for="password">Confirm Password</label>
            <input type="text" pInputText formControlName="confirmPassword" class="w-full" placeholder="Confirm your password" name="confirmPassword"/>
            <small *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)" class="block p-error">
                <div *ngIf="registerForm.controls['confirmPassword'].errors?.['required']">Password is required</div>
           
            </small>
            <small
        class="block p-error"
        *ngIf="registerForm.errors?.['passwordMismatch'] && ['confirmPassword.valid'] && ['password.valid']"
      >
        Password should match
      </small>
        </div><br> -->
        <br>
        <button style="border: none;border-radius: 5px;background-color: #3B82F6;padding: 5px;color: white;font-weight: 600;width:100px;height: 44px;font-size: 15px;">REGISTER</button>
        <p>Already a member?  <a routerLink="../login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a></p>
        
        </form> 
        
    </div>
    </div>
   
    <router-outlet></router-outlet>